@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/Kalameh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Kalameh";
  src: url("/fonts/KalamehWeb-Regular.woff2") format("woff2"),
    url("/fonts/Kalameh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Kalameh";
  src: url("/fonts/KalamehWeb-Bold.woff2") format("woff2"),
    url("/fonts/Kalameh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Kalameh";
  src: url("/fonts/KalamehWeb-Black.woff2") format("woff2"),
    url("/fonts/Kalameh-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@layer base {
  :root {
    --background: #1e293b;
    --foreground: #f8fafc;
    --primary: #facc15;
    --secondary: #334155;
    --muted: #94a3b8;

    --toastify-color-dark: var(--secondary);
    --toastify-toast-width: 250px;
    --toastify-toast-min-height: 50px;
    --toastify-toast-padding: 8px;
    --toastify-toast-bd-radius: 12px;
  }
}

@layer base {
  body {
    font-family: "Kalameh", "sans-serif";
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  input,
  button,
  select,
  textarea {
    @apply border-none outline-none bg-transparent disabled:cursor-not-allowed disabled:opacity-50;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  textarea {
    @apply resize-none;
  }
}

@layer utilities {
  .grid-center {
    @apply grid place-content-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-align-center {
    @apply flex items-center;
  }
  .flex-between-center {
    @apply flex items-center justify-between;
  }
}

@layer components {
}
